<div class="container">
  <h1>Productos de limpieza</h1>

<!-- Tabla mostrada de forma estatica -->
<!-- <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Producto</th>
      <th scope="col">Precio</th>
      <th scope="col">Detalle</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Lavandina</td>
      <td>$10</td>
      <button type="button" class="btn btn-outline-primary" [routerLink]="['/products', 'Lavandina', 'red']">Detalle</button>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Detergente</td>
      <td>$5</td>
      <button type="button" class="btn btn-outline-primary" [routerLink]="['/products', 'Detergente', 'yellow']">Detalle</button>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td >Limpia vidrio</td>
      <td>$7</td>
      <button type="button" class="btn btn-outline-primary"  [routerLink]="['/products', 'Limpia vidrio', 'aqua']">Detalle</button>
    </tr>
  </tbody>
</table> -->

<!-- Tabla mostrada de forma dinamica -->
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Producto</th>
      <th scope="col">Precio</th>
      <th scope="col">Detalle</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products">
      <th scope="row">{{product.id}}</th>
      <td >{{product.name}}</td>
      <td [ngClass]="{'rojo': product.price>12}">{{ product.price | currency}}</td>
      <button type="button" class="btn btn-outline-primary" [routerLink]="['/products', product.id]">Detalle</button>
    </tr>
    
  </tbody>
</table>
</div>